# Environment setting
環境設定

In [ ]:
import os
import requests
from pathlib import Path


# determine branch, default is main
branch = 'main'

# Check if running in Google Colab
is_colab = 'COLAB_GPU' in os.environ

if is_colab:
    # Download the utils.py file from GitHub
    utils_url = f"https://raw.githubusercontent.com/nics-tw/petsard/{branch}/demo/utils.py"
    response = requests.get(utils_url)

    if response.status_code == 200:
        # Save the utils.py file
        with open('utils.py', 'w') as f:
            f.write(response.text)

        # Create an empty __init__.py
        Path('__init__.py').touch()
    else:
        raise RuntimeError(f"Failed to download utils.py. Status code: {response.status_code}")

In [ ]:
# Now import and run the setup
from utils import (
    get_yaml_path,
    setup_environment,
)


setup_environment(
    is_colab,
    branch,
    benchmark_data=[
        'adult-income',
    ]
)

In [3]:
from petsard import Executor

# YAML Configuration for PETsARD
PETsARD 的 YAML 設定

## Data Description
資料描述

In [4]:
yaml_file_case: str = 'data-description.yaml'

yaml_path_case: str = get_yaml_path(
    is_colab=is_colab,
    yaml_file=yaml_file_case,
    branch=branch,
)

Configuration content:
---
Loader:
  data:
    filepath: 'benchmark/adult-income.csv'
Describer:
  summary:
    method: 'default'
Reporter:
  save_report_global:
    method: 'save_report'
    granularity: 'global'
  save_report_columnwise:
    method: 'save_report'
    granularity: 'columnwise'
  save_report_pairwise:
    method: 'save_report'
    granularity: 'pairwise'
...

### Execution and Result
執行與結果

In [5]:
# Initialize and run executor
exec_case = Executor(config=yaml_path_case)
exec_case.run()

Now is petsard[Report]_[global] save to csv...
Now is petsard[Report]_[columnwise] save to csv...
Now is petsard[Report]_[pairwise] save to csv...

In [6]:
exec_case.get_result()[
    'Loader[data]_Describer[summary]_Reporter[save_report_global]'
]['[global]']

,full_expt_name,Loader,Describer,row_count,col_count,na_count
0,Loader[data]_Describer[global],data,[global],48842,15,0

In [7]:
exec_case.get_result()[
    'Loader[data]_Describer[summary]_Reporter[save_report_columnwise]'
]['[columnwise]']

,full_expt_name,Loader,Describer,column,mean,median,std,min,max,kurtosis,skew,q1,q3,na_count,nunique
0,Loader[data]_Describer[columnwise],data,[columnwise],age,38.643585,37.0,13.710510,17.0,90.0,-0.184269,0.557580,28.0,48.0,0,<NA>
1,Loader[data]_Describer[columnwise],data,[columnwise],fnlwgt,189664.134597,178144.5,105604.025423,12285.0,1490400.0,6.057848,1.438892,117550.5,237642.0,0,<NA>
2,Loader[data]_Describer[columnwise],data,[columnwise],educational-num,10.078089,10.0,2.570973,1.0,16.0,0.625745,-0.316525,9.0,12.0,0,<NA>
3,Loader[data]_Describer[columnwise],data,[columnwise],capital-gain,1079.067626,0.0,7452.019058,0.0,99999.0,152.693096,11.894659,0.0,0.0,0,<NA>
4,Loader[data]_Describer[columnwise],data,[columnwise],capital-loss,87.502314,0.0,403.004552,0.0,4356.0,20.014346,4.569809,0.0,0.0,0,<NA>
5,Loader[data]_Describer[columnwise],data,[columnwise],hours-per-week,40.422382,40.0,12.391444,1.0,99.0,2.951059,0.238750,40.0,45.0,0,<NA>
6,Loader[data]_Describer[columnwise],data,[columnwise],workclass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,9
7,Loader[data]_Describer[columnwise],data,[columnwise],education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,16
8,Loader[data]_Describer[columnwise],data,[columnwise],marital-status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,7
9,Loader[data]_Describer[columnwise],data,[columnwise],occupation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,15
10,Loader[data]_Describer[columnwise],data,[columnwise],relationship,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,6
11,Loader[data]_Describer[columnwise],data,[columnwise],race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,5
12,Loader[data]_Describer[columnwise],data,[columnwise],gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2
13,Loader[data]_Describer[columnwise],data,[columnwise],native-country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,42
14,Loader[data]_Describer[columnwise],data,[columnwise],income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2

In [8]:
exec_case.get_result()[
    'Loader[data]_Describer[summary]_Reporter[save_report_pairwise]'
]['[pairwise]']

,full_expt_name,Loader,Describer,column1,column2,corr
0,Loader[data]_Describer[pairwise],data,[pairwise],age,age,1.000000
1,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,age,0.077229
2,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,capital-gain,1.000000
3,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,educational-num,0.125146
4,Loader[data]_Describer[pairwise],data,[pairwise],capital-gain,fnlwgt,-0.003706
5,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,age,0.056944
6,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,capital-gain,-0.031441
7,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,capital-loss,1.000000
8,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,educational-num,0.080972
9,Loader[data]_Describer[pairwise],data,[pairwise],capital-loss,fnlwgt,-0.004366
10,Loader[data]_Describer[pairwise],data,[pairwise],educational-num,age,0.030940
11,Loader[data]_Describer[pairwise],data,[pairwise],educational-num,educational-num,1.000000
12,Loader[data]_Describer[pairwise],data,[pairwise],educational-num,fnlwgt,-0.038761
13,Loader[data]_Describer[pairwise],data,[pairwise],fnlwgt,age,-0.076628
14,Loader[data]_Describer[pairwise],data,[pairwise],fnlwgt,fnlwgt,1.000000
15,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,age,0.071558
16,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,capital-gain,0.082157
17,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,capital-loss,0.054467
18,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,educational-num,0.143689
19,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,fnlwgt,-0.013519
20,Loader[data]_Describer[pairwise],data,[pairwise],hours-per-week,hours-per-week,1.000000