In [1]:
import pandas as pd
import io
import sys
from sequenzo import *
import time

In [3]:
# 随机取样得到 detailed 的子数据集
df = pd.read_csv('D:/college/research/QiQi/sequenzo/files/orignal data/detailed_sequence_10_work_years_df.csv')

count = 5000
while count < 39000:
    sampled_df = df.sample(n=count, random_state=42)
    sampled_df.to_csv(f"D:/college/research/QiQi/sequenzo/files/sampled_datasets/detailded_data/sampled_{count}_data.csv",
                  index=False)
    count += 5000

# Broad_Data

In [ ]:
# 计算时间
def getTimesBroad(file):
    df = pd.read_csv(file)
    df = df[['worker_id', 'C1', 'C2', 'C3', 'C4', 'C5']]
    _time = list(df.columns)[4:]
    states = ['Non-computing', 'Non-technical computing', 'Technical computing']
    
    # get distance matrix
    original_stdout = sys.stdout
    sys.stdout = io.StringIO()
    
    data = SequenceData(df, time=_time, time_type="age", id_col="worker_id", states=states)
    
    start = time.time()
    diss = get_distance_matrix(seqdata=data, method="OMspell", sm="TRATE", indel="auto")
    end = time.time()
    print(f"Time taken: {end - start}")
    
    sys.stdout = original_stdout

In [2]:
df = pd.read_csv('country_co2_emissions_missing.csv')

time = list(df.columns)[1:]
states = ['Very Low', 'Low', 'Middle', 'High', 'Very High']

sequence_data = SequenceData(df, time=time, time_type="year", id_col="country", states=states)

om = get_distance_matrix(sequence_data,
                         method="OM",
                         # refseq=refseq,
                         sm="TRATE",
                         indel="auto")
om

# getTimesBroad(df)

[>] SequenceData initialized successfully! Here's a summary:
[>] Number of sequences: 194
[>] Min/Max sequence length: 216 / 223
[>] There are 7 sequences with missing values, which are ['Panama', 'Panama', 'Panama', 'Panama', 'Panama', 'Panama', 'Panama']
[>] Alphabet: ['Very Low', 'Low', 'Middle', 'High', 'Very High', 'Missing']
[>] Processing 194 sequences with 6 unique states.
[>] Transition-based substitution-cost matrix (TRATE) initiated...
  - Computing transition probabilities for: [Very Low, Low, Middle, High, Very High, Missing]
[>] Indel cost generated.

[>] Identified 192 unique sequences.
[>] Sequence length: min/max = 223 / 223.

[>] Starting Optimal Matching(OM)...
[>] Computing all pairwise distances...
[>] Computed Successfully.

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Uganda,Ukraine,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
Afghanistan,0.000000,127.991570,117.747465,405.822347,350.589409,314.901733,333.646593,181.634191,333.354920,339.845690,...,138.243691,224.964390,270.538288,226.916228,314.886215,161.870176,304.585791,107.758469,405.807815,333.308882
Albania,127.991570,0.000000,86.540050,285.684228,327.699334,347.404097,283.660239,179.064213,320.935199,303.238038,...,230.398800,191.069154,262.961438,191.001434,316.174836,136.089332,306.347501,53.629892,324.888153,305.171065
Algeria,117.747465,86.540050,0.000000,299.516268,356.665611,263.147383,281.586082,125.898735,281.574072,281.597091,...,198.427878,141.934850,192.380196,143.901775,357.287310,67.608066,346.877078,122.047250,399.508800,350.156265
Andorra,405.822347,285.684228,299.516268,0.000000,333.045324,289.897312,103.921613,285.013861,120.913801,125.484456,...,442.466288,186.762967,322.615441,180.854798,249.843226,263.378436,292.611211,309.942253,245.100821,249.960807
Angola,350.589409,327.699334,356.665611,333.045324,0.000000,252.363649,298.890103,289.540454,331.922901,316.954331,...,299.938447,304.439169,209.795786,304.470774,180.717018,386.650976,103.550956,303.287841,332.895240,297.029779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,161.870176,136.089332,67.608066,263.378436,386.650976,280.864003,259.559317,162.637982,247.625112,245.687324,...,214.965775,117.867699,210.134804,119.725861,384.298002,0.000000,384.234109,173.693102,410.383540,363.215807
Vietnam,304.585791,306.347501,346.877078,292.611211,103.550956,181.027866,223.948563,222.411591,260.625842,265.568872,...,240.401987,289.895585,196.155904,287.959265,114.429716,384.234109,0.000000,280.672819,301.165971,221.836532
Yemen,107.758469,53.629892,122.047250,309.942253,303.287841,374.863188,309.475734,196.682466,367.989842,352.416348,...,209.912627,220.620052,288.787507,220.651657,281.278018,173.693102,280.672819,0.000000,309.927722,307.456880
Zambia,405.807815,324.888153,399.508800,245.100821,332.895240,399.131918,240.567047,355.595806,361.990136,346.585277,...,442.426815,357.348953,406.908199,355.362397,238.689852,410.383540,301.165971,309.927722,0.000000,241.817747
Zimbabwe,333.308882,305.171065,350.156265,249.960807,297.029779,195.712385,147.948563,232.187581,219.246680,241.922748,...,308.717018,300.750769,341.582745,297.456448,140.118319,363.215807,221.836532,307.456880,241.817747,0.000000

# Detailed_Data

In [ ]:
# 计算时间
def getTimesDetailed(file):
    df = pd.read_csv(file)
    df = df[['worker_id', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10']]
    _time = list(df.columns)[4:]
    states = ['data', 'data & intensive math', 'hardware', 'research', 'software', 'software & hardware', 'support & test']
    
    # get distance matrix
    original_stdout = sys.stdout
    sys.stdout = io.StringIO()
        
    data = SequenceData(df, time=_time, time_type="age", id_col="worker_id", states=states)
    diss = get_distance_matrix(seqdata=data, method="OMspell", sm="TRATE", indel="auto")
        
    sys.stdout = original_stdout

In [ ]:
df = pd.read_csv('D:/college/research/QiQi/sequenzo/files/sampled_datasets/detailded_data/sampled_1000_data.csv')

getTimesDetailed(df)

# Plot