In [22]:
import numpy as np
print(np.abs((-1)))

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="9ExA$YS:)Ne}dr6LdSvg">np</variable></variables><block type="importAs" id="G`_j}=q2gEh.^:22`+0a" x="28" y="60"><field name="libraryName">numpy</field><field name="libraryAlias" id="9ExA$YS:)Ne}dr6LdSvg">np</field><next><block type="text_print" id="i@~R-lRPq8koVjryu.mS"><value name="TEXT"><block type="varDoMethod" id="{@6dK}!U!?kKrJ3Yp|wn"><mutation items="1"></mutation><field name="VAR" id="9ExA$YS:)Ne}dr6LdSvg">np</field><field name="MEMBER">abs</field><data>np:abs</data><value name="ADD0"><block type="math_number" id="y=e^Ypxh,:keEb9.CV8*"><field name="NUM">-1</field></block></value></block></value></block></next></block></xml>

1

# start

In [ ]:
pd.

In [5]:
import pandas as pd
df = pd.read_csv('datasets/iris.csv')

df

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="xKANhr$+hvj,P*[4AarF">pd</variable><variable id="w3vz|KB1-PbUq49cXAis">df</variable></variables><block type="importAs" id="{Pz6yF%F|,C?[P22:j.0" x="46" y="114"><field name="libraryName">pandas</field><field name="libraryAlias" id="xKANhr$+hvj,P*[4AarF">pd</field><next><block type="variables_set" id="6$QuNpEe}V.J6bHYJiZv"><field name="VAR" id="w3vz|KB1-PbUq49cXAis">df</field><value name="VALUE"><block type="varDoMethod" id="(34szjsEXVa^#VZY4/C,"><mutation items="1"></mutation><field name="VAR" id="xKANhr$+hvj,P*[4AarF">pd</field><field name="MEMBER">read_csv</field><data>pd:read_csv</data><value name="ADD0"><block type="text" id="0JN-PDje=;+eOiY)=),]"><field name="TEXT">datasets/iris.csv</field></block></value></block></value></block></next></block><block type="variables_get" id="Veeb47@F;Xf$OvyOePRD" x="48" y="217"><field name="VAR" id="w3vz|KB1-PbUq49cXAis">df</field></block></xml>

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [14]:
df.SepalLength

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="w3vz|KB1-PbUq49cXAis">df</variable></variables><block type="varGetProperty" id="E%49N$-Wym0PSy!0Q^`O" x="8" y="140"><field name="VAR" id="w3vz|KB1-PbUq49cXAis">df</field><field name="MEMBER">SepalLength</field><data>df:SepalLength</data></block><block type="varDoMethod" id="sOPl==yrJZ{-wzP3T5gd" disabled-reasons="MANUALLY_DISABLED" x="8" y="186"><mutation items="1"></mutation><field name="VAR" id="w3vz|KB1-PbUq49cXAis">df</field><field name="MEMBER">columns</field><data>df:columns</data></block><block type="varCreateObject" id="Z)VBY(!ku0(O5h@FdVqU" disabled-reasons="MANUALLY_DISABLED" x="8" y="258"><mutation items="1"></mutation><field name="VAR" id="w3vz|KB1-PbUq49cXAis">df</field><field name="MEMBER">plot</field><data>df:plot</data></block></xml>

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64

In [5]:
x = 0

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="zqC]{1azE#X+Y4pTqQY$">x</variable></variables><block type="variables_set" id=".*Z}w/O~V71BpNBAWd4," x="41" y="275"><field name="VAR" id="zqC]{1azE#X+Y4pTqQY$">x</field><value name="VALUE"><block type="math_number" id="Q+[*Bo`xw_gA%(snd`-8"><field name="NUM">0</field></block></value></block></xml>

In [20]:
import numpy as np

#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="WEz?:@(i(^HgHE;,v{CQ">np</variable></variables><block type="importAs" id="G(990E0FWT.zPH0^]72/" x="16" y="8"><field name="libraryName">numpy</field><field name="libraryAlias" id="WEz?:@(i(^HgHE;,v{CQ">np</field></block></xml>

In [ ]:
np.abs()
np.
#<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="WEz?:@(i(^HgHE;,v{CQ">np</variable></variables><block type="varDoMethod" id="bKI^(bg=y(c9FYqz(dtM" x="8" y="186"><mutation items="1"></mutation><field name="VAR" id="WEz?:@(i(^HgHE;,v{CQ">np</field><field name="MEMBER">abs</field><data>np:abs</data></block></xml>